<!DOCTYPE html>
<html>
<head>
<style>
.my_custom_table {
  font-family: arial, sans-serif;
  width: 620px;
  margin-left: auto;
  margin-right: auto;
}

.my_custom_table td {
  text-align: center;
  padding: 4px;
}

</style>
</head>
<body style="text-align: center;">

<table class="my_custom_table" border=1>
  <tr>
    <td colspan="2">Place To Visit</td>
    <td colspan="2">Fukuoka, Japan</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td style="text-align: left;">Nagasaki</td>
    <td style="text-align: left;">Resort Name:</td>
    <td style="text-align: left;">Huis Ten Bosch</td>
  </tr>
  <tr>
    <td colspan="2">More information</td>
    <td colspan="2"><a href=https://english.huistenbosch.co.jp target="_blank"> Japan's Largest Theme Park</a></td>
  </tr>
  <tr>
    <td colspan="4"><img src="../static/Nagasaki.jpg" width=“200”></td>
  </tr>
  <tr>
    <td colspan="4">
      <video width="500" controls playsinline autoplay muted>
        <source src="../static/Nagasaki.mp4" type="video/mp4">
        Your browser does not support the video tag.
       </video>
    </td>
  </tr>
</table>

</body>
</html>